/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../publicResources/fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../publicResources/fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../publicResources/fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../publicResources/fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../publicResources/fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../publicResources/fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

body{
  background-color: black;
  color: white;
  font-family: 'Montserrat';
}

.barcode-scanner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  width: 90%;
  max-width: 1000px;
  position: relative;
}

.video-container video {
  width: 100%;
  height: auto;
  max-width: 100%; 
  object-fit: contain;
}

.video-container button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  z-index: 1;
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: none;
  
  font-size: 30px;

  bottom: 50px;

  color: rgba(255,255,255,0.8);
}

video.video-preview{
  display: none;
}

canvas{
  display: none;
}

.bigMainSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divCenter{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.divCenter p{
  font-size: 40px;
  margin: 0;
}

.fileUploadSelector{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acteSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  overflow: hidden;
}

.acteSection p{
  background-color: rgba(255,255,255,0.2);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-out;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scale: 1;
}

.acteSection p:hover{
  background-color: rgba(255,255,255,0.8);
  color: black;
  scale: 1.1;
}

.acteSection div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.acteSection div button {
  width: 200px;
  height: 50px;
  font-weight: bold;
  color: red;
  background-color: black;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.acteSection div iframe{
  width: 80%;
  height: 600px;
}
